* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    overflow-y: auto;
}

/* #header {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-image: url(/Img/bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-container {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

#header-img {
    width: 70px;
    margin-left: 20px;
    cursor: pointer;
}

nav {
    display: flex;
    margin-left: 1150px;
}

nav ul li {
    display: inline-block;
    margin: 0 12px;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #3a93ec;
    font-size: 17px;
    font-weight: 600;
}

a:hover {
    color: #fb0000;
    transform: scale(1.1);
}

.content {
    margin-top: 240px;
    margin-left: 30px;
}

.content h1 {
    display: flex;
    position: relative;
    text-transform: uppercase;
    line-height: 2.9rem;
    letter-spacing: .1em;
    font-weight: 900;
}

#pepsi-red {
    color: #fb0000;
    line-height: 2.9rem;
    letter-spacing: .1em;
    font-weight: 900;
}

#pepsi-blue {
    color: #0080ff;
    line-height: 2.9rem;
    letter-spacing: .2em;
    font-weight: 900;
}

.home-container {
    display: flex;
}

iframe {
    margin-left: 20px;
    border-radius: 10px;
}

#header-history {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-image: url(/Img/bg-history.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#header-text {
    text-align: center;
    color: #ffffffed;
    padding-top: 20px;
}

.founding {
    border-radius: 25px;
    background: #3a93ec;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: 200px;
    color: #ffffffed;
}

.moving {
    border-radius: 25px;
    background: #3a93ec;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: 430px;
    color: #ffffffed;
}

.ranks {
    border-radius: 25px;
    background: #3a93ec;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: 660px;
    color: #ffffffed;
}

.soviet {
    border-radius: 25px;
    background: #3a93ec;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: 890px;
    color: #ffffffed;
}

.present {
    border-radius: 25px;
    background: #3a93ec;
    padding: 20px;
    width: 200px;
    height: 150px;
    margin-left: 1130px;
    color: #ffffffed;
}

#learn-more {
    color: #ffffffed;
}

#form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #29bd87;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #13a11a;
} */


/* Media for Mobile and Tablet */
@media screen and (min-width: 400px) and (max-width: 850px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        padding: 1em;
        position: fixed;
        background: #ffff;
        width: 100%;
        height: 7vh;
        border-bottom: 2px solid #ff0000;
    }

    #header-img {
        height: 3em;
    }

    #nav-bar {
        text-align: right;
    }

    ul {
        display: flex;
    }

    .nav-links {
        list-style: none;
        padding-left: 2vh;
    }

    a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

    nav a:hover {
        color: #ff0000;
        border-bottom: 3px solid #ff0000;
    }

    /* Home Container */
    .home-container{
        padding: 1em;
    }
    .home-container {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 5em;
    }

    .content h1 {
        color: #000;
    }

    #pepsi-red {
        color: #ff0000;
    }

    #pepsi-blue {
        color: #0000ff;
    }

    iframe {
        border: 3px solid #0000ff;
    }

    /* History Container */
    #header-history{
        padding: 1em;
        height: auto;
    }

    #header-contact {
        height: auto;
    }

    .cards-container {
        display: subgrid;
        grid-template-columns: repeat(3, 10em);
        grid-template-rows: repeat(3, auto);
    }

    .cards{
        background: #06283D;
        border-radius: 2em;
        padding: 1em;
        margin-top: 3vh;
        width: 21em;
    }

    .cards h3, p{
        color: #ffff;
    }

    /* Contact Container */
    #header-contact{
        height: auto;
        width: 100%;
        border-top: 2px solid #06283D;
        background: #06283D;
        margin-top: 2em;
    }
    form{
        padding: 1em;
    }

    label{
        color: #fff;
    }

    #email, #message{
        width: 27em;
    }
    #message{
        height: 15vh;
    }
    #submit{
        background: #256D85;
        color: #fff;
        height: 5vh;
        margin-top: 1em;
        border-radius: .3em;
    }

    #submit:hover{
        background: #47B5FF;
    }

    /* Footer Container */
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        padding: 0.7em;
    }
    
    #footer-logo{
        height: 7vh;
    }

    .footer-links{
        list-style: none;
        padding-left: 1vh;
    }

    footer a:hover {
        color: #ff0000;
    }
}

/* Media for Desktop */
@media screen and (min-width: 850px) {
     /* History Container */
     #header-history{
        padding: 1em;
        height: auto;
    }

    #header-contact {
        height: auto;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 10em);
        grid-template-rows: repeat(2, auto);
        grid-gap: 1em 15em;
    }

    .cards{
        background: #06283D;
        border-radius: 2em;
        padding: 1em;
        margin-top: 3vh;
        width: 21em;
    }

    .cards h3, p{
        color: #ffff;
    }
}